<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Mongo Files Upload</title>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link rel="stylesheet" href="/stylesheets/needsharebutton.min.css">
		
	</head>
	<body>
		<div class="container">
		  <nav class="navbar navbar-expand-sm navbar-light bg-light navbar-fixed-top">
		    <div class="container"><a class="navbar-brand" href="/"> <img src="/images/ShareFileLogo.png" alt="fileUpload Logo" style="width:100px;height:30px;"/></a>
		      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
		      <div class="collapse navbar-collapse" id="navbarNav">
		        <ul class="navbar-nav">
		          <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
		          <li class="nav-item"><a class="nav-link" href="#">About</a></li>
		          <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
		        </ul>
		      </div>
		    </div>
		    <!-- /.nav-collapse-->
		  </nav>
		  <!-- <hr/> -->
		  <!-- <script src="/bower_components/jquery/dist/jquery.js"></script>
		   <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
		-->

		<%- body %>
		<hr/>
		<footer>
		    <p>Copyright &copy; 2017</p>
		</footer>

		</div>
		
		<script src="/javascripts/needsharebutton.js"></script>
			
		<script>
			new needShareDropdown(document.getElementById('share-button-3'));
		</script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		
		<script type="text/javascript" src="/javascripts/filefield.js"></script>
	</body>
</html>

		<!-- 				<div class="col-md-4 m-auto card card-body mb-3"> -->
